body {
    margin: 1%;
  }
  
  .wrapper {
          display: grid;
          grid-gap: 5px;
          grid-template-columns: [col] 24.5% [col] 24.5% [col] 24.5% [col] 24.5%  ;
          grid-template-rows: [row] auto [row] auto [row] ;
          background-color: #fff;
          color: #444;
      }
  
      .box {
          background-color: #444;
          color: #fff;
          border-radius: 10px;
          padding: 20px;
          font-size: 150%;
  
      }
  
      .a {
          grid-column: col / span 2;
          grid-row: row ;
          display: flex;
          justify-content: space-between;
          padding: 3%;
          
      }
      .a img{
          width: 150px;
          height: 70px;
      }
      .b {
          grid-column: col 3 / span 2 ;
          display: flex;
          justify-content: space-between;
          grid-row: row ;
      }
      .c {
          height: 500px;;
          grid-column: col ;
          grid-row: row 2 ;
          flex-direction: column;
      }
      .d {
          grid-column: col 2 / span 3 ;
          grid-row: row 2 ;
          background-color: #fff;
          color: black;
        }
      .d img{
        width: 50%;
        height: 40%;
        padding-left: 20%;
      }
      .d h5{
          padding-left: 40%;
          font-size: 30px;
      }
  
      .e {
          grid-column: col / span 4;
          grid-row: row 3;
          font-size: medium;
      }